# Police Data

In [1]:
import pandas as pd

In [2]:
Police_df = pd.read_csv("./Police.csv")

#### 1. Remove the column that only contains missing values

In [3]:
Police_df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [4]:
Police_df.shape

(65535, 15)

In [5]:
Police_df.drop(columns=['country_name'], axis =  1, inplace=True)

In [6]:
Police_df.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

#### 2. For speeding were men or women stopped more often?

In [7]:
Police_df.groupby('driver_gender')['violation'].value_counts()

driver_gender  violation
F              Speeding               11686
               Moving violation        2142
               Equipment               1396
               Registration/plates      632
               Other                    454
M              Speeding               25517
               Moving violation        9784
               Equipment               5120
               Other                   3129
               Registration/plates     1611
               Seat belt                  3
Name: violation, dtype: int64

In [8]:
Police_df[Police_df['violation'] == 'Speeding'].groupby('driver_gender')['violation'].value_counts()

driver_gender  violation
F              Speeding     11686
M              Speeding     25517
Name: violation, dtype: int64

In [9]:
Police_df[Police_df['violation'] == 'Speeding']['driver_gender'].value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [10]:
Police_df[Police_df['violation'] == 'Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

#### 3. Does gender affect who gets searched during a stop?

In [11]:
Police_df.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [12]:
Police_df[Police_df['search_conducted'] == True]['driver_gender'].value_counts()

M    2113
F     366
Name: driver_gender, dtype: int64

In [13]:
Police_df.groupby('driver_gender')['search_conducted'].sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

#### 4. What is the mean stop_duration?

In [14]:
Police_df.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [15]:
Police_df['stop_duration'].dtype

dtype('O')

In [16]:
Police_df['stop_duration'].nunique()

4

In [17]:
Police_df['stop_duration'].unique()

array(['0-15 Min', '16-30 Min', '30+ Min', nan, '2'], dtype=object)

In [18]:
Police_df['stop_duration'].value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [19]:
Police_df['stop_duration'] = Police_df['stop_duration'].map({'0-15 Min' : 7.5 , '16-30 Min' : 24,'30+ Min' :  45})

In [20]:
Police_df['stop_duration'].unique()

array([ 7.5, 24. , 45. ,  nan])

In [21]:
Police_df['stop_duration'].dtype

dtype('float64')

In [22]:
Police_df['stop_duration'].mean()

12.187420698181345

#### 5. compare the age distributions for each violation

In [23]:
Police_df.head(5)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [24]:
Police_df.groupby('violation')['driver_age'].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0