In [1]:
import pandas as pd

#### 1. Importing the dataset

In [15]:
data = pd.read_csv("./tasks_data_mito.csv")

In [16]:
data.head(3)

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
0,AG-2011-2040,01-01-2011,Toby Braunhardt,Consumer,Algeria,Africa,OFF-TEN-10000025,Office Supplies,"Tenex Lockers, Blue",408,2,0.0,106.140,2011
1,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,OFF-SU-10000618,Office Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,2011
2,HU-2011-1220,01-01-2011,Annie Thurman,Consumer,Hungary,EMEA,OFF-TEN-10001585,Office Supplies,"Tenex Box, Single Width",66,4,0.0,29.640,2011

#### 2. Checking Shape of dataset

In [17]:
data.shape

(51290, 14)

#### 3. Adding a new column

In [18]:
data['new_quantity'] = data['quantity'] * 10

In [19]:
data.head(3)

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year,new_quantity
0,AG-2011-2040,01-01-2011,Toby Braunhardt,Consumer,Algeria,Africa,OFF-TEN-10000025,Office Supplies,"Tenex Lockers, Blue",408,2,0.0,106.140,2011,20
1,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,OFF-SU-10000618,Office Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,2011,30
2,HU-2011-1220,01-01-2011,Annie Thurman,Consumer,Hungary,EMEA,OFF-TEN-10001585,Office Supplies,"Tenex Box, Single Width",66,4,0.0,29.640,2011,40